.quadro1 {
    /* width: 100vw; */
    height: 100vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .foto1_quadro1 {
    position: absolute;
    width: 406px;
    height: 406px;
    left: 400px;
  
    /* passar imagens pro html e tomar cuidado com o caminho */
    /* caminho era assim: background-image: url("/projeto_integrador/img/imagem1.jpg"); */
    background-image: url("./img/imagem1.jpg");
  }
  
  .foto2_quadro1 {
    position: absolute;
    width: 406px;
    height: 406px;
    left: 280px;

  }
  .texto1_quadro1 {
    position: absolute;
    width: 340px;
    height: 56px;
    left: 40px;
    top: 80px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    text-align: right;
  
    color: #1c1c1c;
  }
  
  .texto2_quadro1 {
    position: absolute;
    width: 350px;
    height: 30px;
    left: 30px;
    top: 200px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
  
    color: #888888;
  }
  
  .botao1_quadro1 {
    position: absolute;
    height: 34px;
    width: 120px;
    right: 15px;
    top: 270px;
  
    background: #5b25b1;
    border-radius: 50px;
  }
  
  .texto3_quadro1 {
    position: absolute;
    height: 15px;
    left: 13px;
    top: calc(50% - 14px / 2);
  
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
    /* identical to box height */
  
    text-align: center;
  
    color: #ffffff;
  }