.quadro4 {
  position: relative;
  width: 100vw;
  height: 406px;
  left: -1px;
  top: 50px;

  background: #f9f9f9;
}
.foto1_quadro4 {
  position: absolute;
  width: 406px;
  height: 406px;
  left: 400px;
}

.foto2_quadro4 {
  position: absolute;
  width: 406px;
  height: 406px;
  left: 280px;
}

.circuloG1 {
  position: absolute;
  width: 203px;
  height: 150px;
  top: 70px;
  left: 150px;
  border-radius: 100%;
  background: #e0deff;
  z-index: 5;
}

.circuloG2 {
  position: absolute;
  width: 203px;
  height: 150px;
  top: 180px;
  left: 150px;
  border-radius: 100%;
  background: #e0deff;
  z-index: 5;
}

.circuloG3 {
  position: absolute;
  width: 203px;
  height: 200px;
  top: 50px;
  left: 20px;
  border-radius: 100%;
  background: #e0deff;
  z-index: 5;
}

.circuloG4 {
  position: absolute;
  width: 203px;
  height: 200px;
  top: 180px;
  left: 20px;
  border-radius: 100%;
  background: #e0deff;
  z-index: 5;
}

.circuloP1 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 230px;
  left: -30px;
  border-radius: 100%;
  background-image: url("/projeto_integrador/img/jussara.jpg");
  background-size: contain;
  z-index: 5;
}

.circuloP2 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 50px;
  left: -30px;
  border-radius: 100%;
  background-image: url("/projeto_integrador/img/leonardo.jpg");
  background-size: contain;
  z-index: 5;
}

.circuloP3 {
  position: absolute;
  z-index: 5;
  width: 150px;
  height: 150px;
  top: -30px;
  left: 170px;
  border-radius: 100%;
  background-image: url("/projeto_integrador/img/rayane.jpg");
  background-size: contain;
}

.circuloP4 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 130px;
  left: 170px;
  border-radius: 100%;
  background-image: url("/projeto_integrador/img/samuel.jpg");
  background-size: contain;
  z-index: 5;
}

.circuloP5 {
  position: absolute;
  z-index: 5;
  width: 150px;
  height: 150px;
  top: 300px;
  left: 170px;
  border-radius: 100%;
  background-image: url("/projeto_integrador/img/Vinicius.jpg");
  background-size: contain;
}

.texto1_quadro4 {
  position: relative;
  top: 100px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #1c1c1c;
}

.texto2_quadro4 {
  position: relative;
  top: 120px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;

  color: #888888;
}

.botao1_quadro4 {
  position: relative;
  height: 34px;
  width: 120px;
  top: 140px;
  background: #5b25b1;
  border-radius: 50px;
}

.texto3_quadro4 {
  position: absolute;
  height: 15px;
  left: 13px;
  top: calc(50% - 14px / 2);

  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.inicio_quadro4 {
  position: absolute;
  width: 100vw;
  height: 110px;
  left: -2px;

  border-radius: 90%;
  background: #f9f9f9;
  transform: matrix(1, -0.03, 0.03, 1, 0, 0);
}

.fim_quadro4 {
  position: relative;
  width: 100vw;
  height: 110px;
  left: -16px;
  border-radius: 90%;
  top: 330px;

  background: #f9f9f9;
  transform: matrix(1, -0.05, 0.05, 1, 0, 0);
}
